.scrollx {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;

  .card {
    width: 12rem;
    height:14rem;
    flex: 0 0 auto;
  }
}
.card-text {
    font-size: 0.9rem;
}
.paginationButton {
    width: 5rem;
}